.films-entre-annees-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); /* Green glow effect */
    border: 2px solid rgba(0, 255, 0, 0.5); /* Green border */
}

.films-entre-annees-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.films-entre-annees-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.films-entre-annees-container button {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.films-entre-annees-container button:hover {
    background: #0056b3; /* Darker blue on hover */
}

.films-entre-annees-container ul {
    list-style-type: none;
    padding: 0;
}

.films-entre-annees-container li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}
