.recherche-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures the modal is on top of other elements */
}

.recherche-modal {
    background-color: #ff0015;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto; /* Allows scrolling if content exceeds max-height */
}

.recherche-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.recherche-modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.recherche-modal-content {
    text-align: left;
    padding: 0 10px;
}

.recherche-modal-content .modal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.recherche-modal-content .modal-list li {
    margin-bottom: 10px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.recherche-modal-content .modal-list li:nth-child(even) {
    background-color: #f1f1f1;
}
